### ITERABLE OBJECT

### TUPLE
### TUPLE IS UNCHANGEABLE
### TUPLE IS DENOTED WITH ()
### TO ACCESS VALUE ROM A TUPLE WE USE THE INDEX LOCATION
### NOTE: TUPLE IS NOT LIMITED TO ONE DATA TYPE
### TUPLE MUST BE IN ORDER
### NOTE: TUPLE IS NOT LIMITED TO ONE DATA TYPE

In [4]:
numbers = (47,58,96,21,53,65,41,78,96,47,88,90,98,47,100)
print(type(numbers))

<class 'tuple'>

In [8]:
print(len(numbers))

14

In [9]:
print(numbers[5]) # RETRIEVING A VALUE USING THE STARTING INDEX LOCATION 0

65

In [10]:
print(numbers[-10]) # # RETRIEVING A VALUE USING THE STOPPING INDEX LOCATION -1

53

In [6]:
print(numbers[3:8]) # RETRIEVING A RANGE VALUE FROM THE STARTING INDEX LOCATION

NameError: name 'numbers' is not defined

In [3]:
print(numbers[3:-7]) # RETRIEVING A RANGE VALUE USING THE STARTING AND STOPPING INDEX LOCATION

NameError: name 'numbers' is not defined

### LIST
### LIST IS CHANGEABLE
### LIST CAN BE ORDERED OR UNORDERED
### LIST IS DENOTED WITH []
### TO ACCESS A VALUE FROM A LIST WE USE THE INDEXT LOCATION
### NOTE: LIST IS NOT LIMITED TO ONE PARTICULAR DATA TYPE

In [16]:
items = ['Cup', 'Plate', 'Biro', 'Apple', 'Cup']

In [17]:
items.append('pear') # APPEND WILL ADD A NEW VALUE TO THE END OF THE LIST
print(items)

['Cup', 'Plate', 'Biro', 'Apple', 'Cup', 'pear']

In [18]:
items.insert(3, 'Banana') # INSERT WILL ADD A NEW VALUE TO SPECIFIED LOCATION IN THE LIST
print(items)

['Cup', 'Plate', 'Biro', 'Banana', 'Apple', 'Cup', 'pear']

In [19]:
f =['Coconut', 'Broom', 'Apple']
items.extend(f) # EXTEND WILL MOVE ALL VALUES FROM A LIST OR TUPLE TO THE EXISTING LIST
print(items)

['Cup', 'Plate', 'Biro', 'Banana', 'Apple', 'Cup', 'pear', 'Coconut', 'Broom', 'Apple']

In [20]:
items.pop(2) # POP WILL REMOVE THE VALUE IN THE SPECIFIED VALUE
print(items)

['Cup', 'Plate', 'Banana', 'Apple', 'Cup', 'pear', 'Coconut', 'Broom', 'Apple']

In [22]:
items.remove('pear') # REMOVE WILL REMOVE THE SPECIFIED VALUE
print(items)

['Cup', 'Plate', 'Banana', 'Apple', 'Cup', 'Coconut', 'Broom', 'Apple']

In [23]:
items.sort() # SORT ARRAGES THE VALUE IN ASCENDING ORDER ONLY APPLICABLE TO STRING DATATYPE
print(items)

['Apple', 'Apple', 'Banana', 'Broom', 'Coconut', 'Cup', 'Cup', 'Plate']

In [25]:
newitems = items.copy()
print(newitems)

['Apple', 'Apple', 'Banana', 'Broom', 'Coconut', 'Cup', 'Cup', 'Plate']

In [26]:
newitems.clear()
print(newitems)

[]

In [27]:
del(newitems)
print(newitems)

NameError: name 'newitems' is not defined

In [28]:
# DICTIONARY

In [31]:
records = {
    'name' : 'Ade',
    'Age' : 45,
    'Gender' : 'Male'
}
print(records['Age'], records['name'], records['Gender'])

45 Ade Male

In [3]:
records = {
    'name' : 'Ade',
    'Age' : 45,
    'Gender' : 'Male'
}
print(records['name'], records['Gender'], records['Age'])

Ade Male 45